*{
    font-family: 'Abel';
    font-size: 18px;
    box-sizing: border-box;
}

/* HEADER */
#header-nav {
    border-radius: 0px;
    border: 0px;
    margin: auto;
    margin-top: 0px;
    background-color: white;
}

p {
    font-size: 0.9em;
}

h1 {
    text-align: center;
    color: azure;
    background-color: rgba(31, 69, 175,0.6);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
}

h2 {
    text-align: center;
    color: azure;
    background-color: rgba(47, 141, 88, 0.6);
}

h3 {
    font-weight: bold;
    color: white;
    background-color:rgba(31, 69, 175,0.6);    
}

h4 {
    font-weight: bold;
    text-align: left;
    font-size: 0.9em;
}

#ervaring * {
    text-align: center;
}

#opleiding * {
    text-align: center;
}

img {
    /* border: 1px solid rgb(31, 69, 175); */
    border-radius: 10px;
    padding: -1px;
    width: 80%;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand .navbar-toggle collapsed{
    text-align: right;
}

#nav-list a:hover {
    background: #E7E7E7;
}

#nav-list a span {
    font-size: 1.8em;
}

.navbar-collapse {
    padding: 0px;
}

.navbar-nav {
    margin: 0px;
}

#nav-list{
    text-align: center;
    background-color: azure;
}

#nav-list > li {
    border: solid lavender 0.1px;
}

/* OTHER STUFF */
.container-fluid{
    margin-left: 10px;
    margin-right:10px;
    text-align: center;
}

#contain{
    clear: both;
}

.container-fluid p{
    text-align: left;
}

.row div {
    padding-left: 10px;
}

.p_ervaring {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0px, 0px, 0px, 0px;
}

/* Hover over opdrachtgever image */
.opdrachtgever-image{
    float: left;
    cursor: pointer;
}

#contain:hover >* {
    display: block;
}

/* #opdrachtgever-image:hover >* {
    display: block;
} */

.text {
    float: left; 
    display: none;    
}​

section {
    border-style: none;
    margin-top: 10px;
    position: relative;

}
